@import url('https://fonts.googleapis.com/css?family=Amiri');
        
body {
        background-color: #f3dfc1;   
}

#display-message {
        font-family: 'Amiri';
        font-size: 24pt;
        text-align: center;
        width: 50%;
        color: #383838;
}

#amiri-font {
        font-family: 'Amiri';
}
