@import url('https://fonts.googleapis.com/css?family=Amiri');   
body {
        background-color: #fff9f2;   
}
h1 {
        color: #383838;
        text-align: center;
}
#amiri-font {
        font-family: 'Amiri';
        color: #383838;
}
.input {
        text-align: center;
}
textarea {
        font-size: 16pt;
        background-color: #fff0e2;
        margin: 5px;
        border-radius: 7px;
        border: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
}
textarea:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#button {
        color: #383838;
        background-color: #fff0e2;
        border-radius: 7px;
        font-size: 12pt;
        border: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
}
button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#user-output {
        font-family: 'Amiri';
        font-size: 28pt;
        text-align: center;
        color: #383838;
}
#footer {
        background-color: #fff0e2;
        color: #383838;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        
        column-count: 2;
        column-rule-width: 1px;
        column-rule-color: #fff0e2;        
}
p {
        column-span: 1;
}
