@import url('https://fonts.googleapis.com/css?family=Amiri');

#display_message {
        font-family: 'Amiri';
        font-size: 24pt;
}

#amiri-font {
        font-family: 'Amiri';
}
        
body {
        background-color: #f3dfc1;   
}
